.popup-card {
  overflow-y: auto;
  z-index: $zIndex-l;
  @media (max-width: ($m+px)) {
    align-items: flex-start;
    background-color: $color-white;
  }
  // .popup-card__container
  &__container {
    position: relative;
    max-width: 1500px;
    width: 100%;
    @include adaptive-value("padding-top", 85, 42, $xxs);
    @include adaptive-value("padding-bottom", 80, 25, $s);
    @include adaptive-value("padding-left", 75, 0, $s);
    @media (min-width: ($m+px)) {
      margin-left: 25px;
      margin-right: 25px;
    }
    @media (max-width: ($m+px)) {
      // padding-bottom: 122px;
    }
  }

  // .popup-card__body

  &__body {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    @include adaptive-value("gap", 110, 37, $xs);
    @media (min-width: ($m+px)) {
      grid-template-columns: minmax(0, 0.7fr) minmax(0, 1fr);
    }
    @media (min-width: ($l+px)) {
      grid-template-columns: minmax(0, 0.46fr) minmax(0, 1fr);
    }
  }

  // .popup-card__close

  &__close {
  }

  // .popup-card__info

  &__info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    @media (max-width: ($m+px)) {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  // .popup-card__title

  &__title {
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }

  // .popup-card__text

  &__text {
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    @include adaptive-value("margin-top", 23, 14, $xxs);
  }

  // .popup-card__button
  &__button {
    @include adaptive-value("margin-top", 34, 25, $s);
    @media (min-width: ($xs+px)) {
      max-width: 335px;
    }
    @media (max-width: ($s+px)) {
      // position: fixed;
      // bottom: 33px;
      // left: 50%;
      // transform: translateX(-50%);
      // z-index: $zIndex-l + 1;
    }
  }

  // .popup-card__specifications

  &__specifications {
    display: flex;
    flex-direction: column;
    @include adaptive-value("gap", 26, 20, $xxs);
    @include adaptive-value("margin-top", 52, 22, $xxs);
  }

  // .popup-card__specifications-row

  &__specifications-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    @media (min-width: ($l+px)) {
      grid-template-columns: 1fr 3fr;
    }
  }

  // .popup-card__specifications-name

  &__specifications-name {
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: $color-txt-extra;
  }

  // .popup-card__specifications-box

  &__specifications-box {
  }

  // .popup-card__specifications-value

  &__specifications-value {
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    color: $color-txt-extra;
  }

  // .popup-card__interactive

  &__interactive {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  // .popup-card__main-slider

  &__main-slider {
    position: relative;
    height: 514px;
    @include adaptive-value("height", 514, 286, $xxs);
    @include adaptive-value("border-top-left-radius", 20, 14, $xxs);
    @include adaptive-value("border-bottom-left-radius", 20, 14, $xxs);
    overflow: hidden;
    @media (max-width: ($s+px)) {
      padding-left: 10px;
    }
  }

  // .popup-card__main-slide

  &__main-slide {
    @include adaptive-value("border-radius", 20, 14, $xxs);
    overflow: hidden;
    @include adaptive-value("width", 514, 286, $xxs);

    &._icon-play {
      position: relative;
      cursor: pointer;
      @media (any-hover: hover) {
        &:hover::before {
          // color: $color-bth-hover;
          transform: translate(-50%, -50%) scale(1.15);
        }
      }
      &.video-is-playing-js {
        &::before {
          opacity: 0;
          pointer-events: none;
          visibility: hidden;
        }
      }
      &::before {
        transition: $transitionLight;
        position: absolute;
        font-size: 30px;
        color: $color-white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: $zIndex-s;
      }
    }
  }

  // .popup-card__main-slide-content
  &__main-slide-content {
    max-width: 388px;
  }
  // .popup-card__slider-controls

  &__slider-controls {
    @media (min-width: ($m+px)) {
      width: 92%;
    }
  }

  // .popup-card__slider-btn-l

  &__slider-btn-l {
    @include adaptive-value("font-size", 24, 20, $xxs);

    @media (min-width: ($m+px)) {
      transform: translateX(-50%);
      &::before {
        padding-right: 10px;
      }
    }
  }

  // .popup-card__slider-btn-r

  &__slider-btn-r {
    @include adaptive-value("font-size", 24, 20, $xxs);

    @media (min-width: ($m+px)) {
      background: $color-white;
      &::before {
        text-align: center;
        padding: 0;
      }
    }
  }

  // .popup-card__duplicate-slider

  &__duplicate-slider {
    height: 74px;
    overflow: hidden;
  }

  // .popup-card__duplicate-slide

  &__duplicate-slide {
    position: relative;
    cursor: pointer;
    width: 74px;
    @media (max-width: ($s+px)) {
      display: none;
    }
    &.video-is-playing-js {
      &::before {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }
    }
    &._icon-play {
      &::before {
        transition: $transitionLight;
        position: absolute;
        font-size: 30px;
        color: $color-white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: $zIndex-s;
      }
    }
  }
  // .popup-card__duplicate-slide-content
  &__duplicate-slide-content {
    max-width: 94px;
  }
}
