<section class="popup-card _popup-wrapper" data-popup-card="card" data-popup-card-close="card">

  <div class="popup-card__container _popup-content">
    <button class="popup-card__close _icon-close _popup-close" data-popup-card-close="card"></button>
    <div class="popup-card__body">
      <div class="popup-card__info" data-card-info>
        <button class="popup-card__button button" type="button" data-popup-form-open="consult"
          data-popup-card-close="card">
          Записаться на консультацию
        </button>
      </div>
      <div class="popup-card__interactive">
        <div class="popup-card__main-slider _swiper-settings">
          <div class="swiper-wrapper" data-card-main-slide></div>
          <div class="popup-card__slider-controls _slider-controls">
            <button class="popup-card__slider-btn-l _slider-button _slider-button_left _icon-arrow-left"></button>
            <button class="popup-card__slider-btn-r _slider-button _slider-button_right _icon-arrow-right"></button>
          </div>
        </div>
        <div class="popup-card__duplicate-slider _swiper-settings">
          <div class="swiper-wrapper" data-card-duplicate-slide></div>
        </div>
      </div>
    </div>
  </div>
</section>