<section class="newsticker _container">
  <div class="newsticker__box">
    <div class="newsticker__list">
      <div class="newsticker__item ">
        @@include('../../UI/icon/icon.html', {
        class: 'newsticker__point-icon',
        name: 'Divide-Marker',
        width: '15px',
        height: '16px',
        })
        <p class="newsticker__text _txt-m">индивидуальный подбор комплектующих</p>
      </div>
      <div class="newsticker__item ">
        @@include('../../UI/icon/icon.html', {
        class: 'newsticker__point-icon',
        name: 'Divide-Marker',
        width: '15px',
        height: '16px',
        })
        <p class="newsticker__text _txt-m">помощь в получении компенсации</p>
      </div>
      <div class="newsticker__item ">
        @@include('../../UI/icon/icon.html', {
        class: 'newsticker__point-icon',
        name: 'Divide-Marker',
        width: '15px',
        height: '16px',
        })
        <p class="newsticker__text _txt-m">расширенная гарантия</p>
      </div>
      <div class="newsticker__item ">
        @@include('../../UI/icon/icon.html', {
        class: 'newsticker__point-icon',
        name: 'Divide-Marker',
        width: '15px',
        height: '16px',
        })
        <p class="newsticker__text _txt-m">индивидуальный подбор комплектующих</p>
      </div>
    </div>
    <div class="newsticker__list">
      <div class="newsticker__item ">
        @@include('../../UI/icon/icon.html', {
        class: 'newsticker__point-icon',
        name: 'Divide-Marker',
        width: '15px',
        height: '16px',
        })
        <p class="newsticker__text _txt-m">индивидуальный подбор комплектующих</p>
      </div>
      <div class="newsticker__item ">
        @@include('../../UI/icon/icon.html', {
        class: 'newsticker__point-icon',
        name: 'Divide-Marker',
        width: '15px',
        height: '16px',
        })
        <p class="newsticker__text _txt-m">помощь в получении компенсации</p>
      </div>
      <div class="newsticker__item ">
        @@include('../../UI/icon/icon.html', {
        class: 'newsticker__point-icon',
        name: 'Divide-Marker',
        width: '15px',
        height: '16px',
        })
        <p class="newsticker__text _txt-m">расширенная гарантия</p>
      </div>
      <div class="newsticker__item ">
        @@include('../../UI/icon/icon.html', {
        class: 'newsticker__point-icon',
        name: 'Divide-Marker',
        width: '15px',
        height: '16px',
        })
        <p class="newsticker__text _txt-m">индивидуальный подбор комплектующих</p>
      </div>
    </div>
  </div>
</section>