<section class="advantages" data-scroll-to="company">
  <div class="advantages__container _container">
    <h2 class="advantages__title _h1">С нами
      <span class="advantages__title-accent _txt-accent-blue">легко, быстро и удобно сотрудничать</span>
    </h2>
    <p class="advantages__subtitle _txt-l">Мы частная мастерская, чья работа направлена на индивидуальный подход к
      каждому клиенту, гордящаяся результатами.</p>
    <div class="advantages__body">
      <div class="advantages__card advantages-card advantages-card_full">
        <div class="advantages-card__image-box">
          <img class="advantages-card__image" data-src="@img/advantages/image_1.jpg" alt="work-process" data-lazy>
          <img class="advantages-card__backgorund advantages-card__backgorund_bg-1"
            data-src="@img/background-body/Rectangle 107.png" alt="" data-lazy>
        </div>

        <div class="advantages-card__body advantages-card__body_max _anim-upwards">
          <span class="advantages-card__number _anim-item _anim-delay-300">.01</span>
          <h2 class="advantages-card__title _h2 _txt-accent-blue _anim-item _anim-delay-400">Большой опыт в
            сфере и внимание к
            каждому клиенту</h2>
          <p class="advantages-card__text _txt-m _anim-item _anim-delay-500">Руководитель компании —
            протезист, который сам
            пользуется протезом
            ноги
            уже 17 лет. Опыт изготовления протезов — более
            10 лет. Два года компания существует и была создана без сторонних инвестиций, что подчеркивает высокий
            уровень
            доверия
            клиентов.
          </p>
          <p class="advantages-card__text _txt-m _anim-item _anim-delay-600">В месяц в нашу компанию
            обращаются не более 8
            клиентов, что позволяет
            уделить большое количество времени каждому и
            успешно выполнить поставленные задачи.</p>
        </div>
      </div>
      <div
        class="advantages__card advantages-card advantages-card_full advantages-card_space-between advantages-card_margin-minus advantages-card_mobile-reverse">
        <div
          class="advantages-card__body advantages-card__body_medium advantages-card__body_align-center _anim-upwards">
          <span class="advantages-card__number _anim-item _anim-delay-300">.02</span>
          <h2 class="advantages-card__title _h2 _txt-accent-blue _anim-item _anim-delay-400">Качественные материалы и
            передовые технологии</h2>
          <p class="advantages-card__text _txt-m _anim-item _anim-delay-500">Наша продукция изготавливается из
            гипоаллергенных пластиков и
            специальных сплавов алюминия нового поколения. Несмотря на
            малый вес комплектующих, материалы выдерживают сверхнагрузки.
          </p>
          <p class="advantages-card__text _txt-m _anim-item _anim-delay-600">Мы работаем по самым передовым технологиям
            и с самыми современными
            материалами, представленными на рынке. Наши протезы
            удобно надеваются, надежно крепятся к конечностям и не доставляют болезненных ощущений при их использовании.
          </p>
        </div>
        <div class="advantages-card__image-double">
          <img class="advantages-card__image advantages-card__image_main" data-src="@img/advantages/image_2.jpg"
            alt="work-process" data-lazy>
          <img class="advantages-card__image advantages-card__image_mini" data-src="@img/advantages/image_3.jpg"
            alt="work-process" data-lazy>
          <img class="advantages-card__backgorund advantages-card__backgorund_bg-2"
            data-src="@img/background-body/Rectangle 108.png" alt="" data-lazy>
          <img class="advantages-card__backgorund advantages-card__backgorund_bg-3"
            data-src="@img/background-body/Rectangle 106.png" alt="" data-lazy>
        </div>

      </div>

      <img class="advantages-card__image" data-src="@img/advantages/image_4.jpg" alt="work-process" data-lazy>
      <div class="advantages__card advantages-card">
        <div class="advantages-card__body advantages-card__body_min _anim-upwards">
          <span class="advantages-card__number _anim-item _anim-delay-300">.03</span>
          <h2 class="advantages-card__title _h2 _txt-accent-blue _anim-item _anim-delay-400">Индивидуальный подбор
            комплектующих, собственное
            производство</h2>
          <p class="advantages-card__text _txt-m _anim-item _anim-delay-500">Подбираем комплектующие, основываясь на
            потребностях клиента: его
            анатомических-физиологических данных и финансовых
            возможностях. С каждым проводится подробная консультация, по итогам который и принимается решение.</p>
          <p class="advantages-card__text _txt-m _anim-item _anim-delay-600">Производство протезов происходит на
            оборудовании собственного
            производства, так как технологический процесс изготовления
            уникален и невозможен на стандартном оборудовании</p>
        </div>
      </div>
      <div class="advantages__card advantages-card">
        <div class="advantages-card__body advantages-card__body_min _anim-upwards">
          <span class="advantages-card__number _anim-item _anim-delay-300">.04</span>
          <h2 class="advantages-card__title _h2 _txt-accent-blue _anim-item _anim-delay-400">Помощь в получении
            компенсации от государства</h2>
          <p class="advantages-card__text _txt-m _anim-item _anim-delay-500">Вы можете получить от государства
            компенсацию за протез, вплоть до
            полной его стоимости. В нашей команде работает
            опытный юрист, который поможет составить все необходимые документы для Фонда Социального Страхования, от
            решения
            которого и будет зависеть итоговый размер выплаты.</p>
        </div>
      </div>
    </div>
  </div>
</section>