.popup-video {
  z-index: $zIndex-l;
  background-color: rgba(61, 78, 129, 0.7);
  // .popup-video__container

  &._video-onload {
    .popup-video__container {
      display: block;
    }
    .popup-video__loader {
      display: none;
    }
  }
  &._video-onerror {
    .popup-video__error {
      display: block;
    }
    .popup-video__video-box {
      display: none;
    }
    .popup-video__loader {
      display: none;
    }
  }
  &__container {
    display: none;
    background-color: transparent;
    max-width: 100%;
    max-height: 88%;
    @media (min-width: ($xs+px)) {
      max-width: 88%;
    }
  }

  // .popup-video__close

  &__close {
    color: $color-white;
    @include adaptive-value("top", -40, -35, $xs);
    @include adaptive-value("right", -35, 0, $xs);
  }

  // .popup-video__video-box

  &__video-box {
    position: relative;
    cursor: pointer;
  }

  // .popup-video__video

  &__video {
    display: block;
    max-height: 90vh;
    @include adaptive-value(" border-radius", 20, 16, $xxs);
  }
  // .popup-video__error
  &__error {
    text-align: center;
    width: 100%;
    color: $color-white;
    display: none;
  }
}
