<section class="popup-video _popup-wrapper" data-popup-media="video" data-popup-media-close="video">
  <div class="popup-video__container _popup-media-content ">
    <button class="popup-video__close _icon-close _popup-close" data-popup-media-close="video"></button>
    <div class="popup-video__video-box">
      <video class="popup-video__video" src="" controls></video>
    </div>
  </div>
  <div class="popup-video__loader _loader"></div>
  <h3 class="popup-video__error _h2">Кажется с этим видео что то не так :(</h3>
</section>