.popup-consult {
  // .popup-consult__container
  z-index: $zIndex-l;
  @media (max-width: ($s+px)) {
    align-items: flex-start;
    background-color: $color-white;
  }
  &__container {
    padding-top: 56px;
    padding-bottom: 37px;
    @include adaptive-value("padding-left", 80, 10, $xxs);
    @include adaptive-value("padding-right", 80, 10, $xxs);
  }

  // .popup-consult__close

  &__close {
  }

  // .popup-consult__form

  &__form {
    @media (min-width: ($s+px)) {
      max-width: 350px;
    }
  }

  &__form-title {
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-align: center;
  }
  // .popup-consult__form-button

  &__form-button {
    @include adaptive-value("margin-top", 31, 16, $xxs);
    &._loader-mini {
      &::after {
        display: none;
      }
      &._loader_active {
        &::after {
          display: block;
        }
        color: transparent;
      }
    }
  }

  // .popup-consult__policy

  &__policy {
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    text-align: center;
    margin-top: 13px;
    color: $color-txt-extra;
    & a {
      transition: $transitionLight;
      @media (any-hover: hover) {
        &:hover {
          color: $color-bth-hover;
          text-decoration: underline;
        }
      }
    }
  }
}
