<section class="sponsors">
  <div class="sponsors__contianer _container">
    <img class="sponsors__icon" src="./@img/brands/ALPS-01.png" alt="brand-alps">
    <img class="sponsors__icon" src="./@img/brands/Gest_logo.png" alt="brand-gest">
    <img class="sponsors__icon" src="./@img/brands/Ortomedica_logo.png" alt="brand-ortomedica">
    <img class="sponsors__icon" src="./@img/brands/OttoBock_Logo_CO.png" alt="brand-ottobock">
    <img class="sponsors__icon" src="./@img/brands/Phoenix_logo.png" alt="brand-phoenix">
    <img class="sponsors__icon" src="./@img/brands/vincent-02.png" alt="brand-vincent">
    <img class="sponsors__icon" src="./@img/brands/VITA-ORTA-02.png" alt="brand-vita-orta">
    <img class="sponsors__icon" src="./@img/brands/VITA-ORTA-04.png" alt="brand-blatchford">
    <img class="sponsors__icon" src="./@svg/logo-mobile.svg" alt="brand-instep">
  </div>
</section>