<section class="production" data-scroll-to="production">
  <div class="production__container _container">
    <h2 class="production__title _h2">Изготовление протезов:
      <span class="production__title-accent _txt-accent-blue">быстро и профессионально</span>
    </h2>
    <p class="production__text _txt-l  _txt-accent-blue"> Собственное производство, на котором работают
      квалифицированные сотрудники, позволяет изготавливать протезы в кратчайшие
      сроки. Мы работаем по самым новым технологиям, которые не только сокращают время изготовления протезов, но и
      держат их
      качество на стабильно высоком уровне.</p>
    <div class="production__advantages">
      <div class="production__box">
        <h3 class="production__box-title _h2 _icon-O-Marker">4 дня</h3>
        <p class="production__box-text _txt-s">примерно столько занимает изготовление протеза по вашим параметрам</p>
      </div>
      <div class="production__box">
        <h3 class="production__box-title _h2 _icon-O-Marker">3 встречи</h3>
        <p class="production__box-text _txt-s">с протезистом в мастерской позволят создать протез по вашим меркам</p>

      </div>
    </div>
  </div>
</section>