<section class="consultation">
  <div class="consultation__container _container">
    <div class="consultation__description">
      <h2 class="consultation__title _h1">У нас вы найдёте
        <span class="consultation__title-accent _txt-accent-blue">идеально подходящий</span>
        для вас протез
      </h2>
      <p class="consultation__text">Многолетний опыт наших сотрудников позволяет в кратчайшие сроки подобрать
        необходимую
        комплектацию протеза, учитывая как
        ваши финансовые возможности, так и индивидуальные параметры.</p>
      @@include('../../UI/button/button.html', {
      class: 'consultation__button',
      text: 'бесплатная консультация',
      type: 'button',
      attribute: 'data-popup-open="consult"'
      })
    </div>
    @@include('../../UI/icon/icon.html', {
    class: 'consultation__wave-icon',
    name: 'Wave-Marker',
    width: '',
    height: '',
    })
    @@include('../../UI/icon/icon.html', {
    class: 'consultation__star-icon',
    name: 'Star-2',
    width: '',
    height: '',
    })
  </div>
</section>