.header {
  // .header__wrapper
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // @include adaptive-value("min-height", 126, 56, $s);
  height: auto;
  z-index: $zIndex-l;
  transition: transform $transitionNormal, box-shadow $transitionNormal,
    background-color $transitionNormal;
  transform: unset;
  &._hide {
    transform: translateY(-100%);
    box-shadow: unset;
  }
  &._scroll {
    background-color: $color-white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  }
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptive-value("padding-top", 15, 5, $xxs);
    @include adaptive-value("padding-bottom", 15, 10, $xxs);

    @media (max-width: ($m+px)) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px 4px 14px rgb(0 0 0 / 15%);
        background-color: $color-white;
        z-index: $zIndex-l - 1;
        pointer-events: none;
      }
    }
  }

  // .header__burger
  &__burger {
    width: 25.5px;
    height: 17px;
    z-index: $zIndex-l;
    @media (min-width: ($m+px)) {
      display: none;
    }
  }
  // .header__logo
  &__logo {
    z-index: $zIndex-l;
    @media (max-width: ($m+px)) {
      margin-right: auto;
      margin-left: 20px;
    }
  }
  // .header__logo-icon

  &__logo-icon {
    & img {
      @include adaptive-value(" max-width", 214, 160, $l);
      width: 100%;
      flex-shrink: 0;
    }
  }

  // .header__nav

  &__nav {
    display: flex;
    align-items: center;
    width: 100%;
    @include adaptive-value("margin-left", 104, 30, $l);
    @include adaptive-value("gap", 51, 15, $l);
    z-index: $zIndex-l - 1;

    @media (max-width: ($m+px)) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      flex-direction: column;
      margin-left: 0;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 134px;
      transition: $transitionNormal;
      background-color: $color-white;
      align-items: flex-start;
      overflow-y: auto;
      overflow-x: hidden;
    }
    @media (max-width: ($s+px)) {
      padding-top: 104px;
      align-items: center;
    }
    @media (max-width: ($xxs+px)) {
      padding-left: 10px;
      padding-right: 10px;
    }
    &._active {
      transform: translateX(0);
    }
  }

  // .header__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    @include adaptive-value("gap", 25, 16, $m);
    margin-right: auto;
    @media (max-width: ($m+px)) {
      flex-direction: column;
      gap: 31px;
    }
  }

  // .header__item

  &__item {
  }

  // .header__link

  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 110%;
    text-transform: uppercase;
    color: #3d4e81;
    @media (min-width: ($m+px)) and (max-width: ($l+px)) {
      font-size: 12px;
    }
    @media (max-width: ($m+px)) {
      font-size: 16px;
    }
    @media (any-hover: hover) {
      transition: color $transitionLight;
      &:hover {
        color: $color-link-hover;
      }
    }
  }
  // header__phone-icon
  &__phone-icon {
    height: 100%;
    width: 34px;
    @media (min-width: ($s+px)) {
      width: 40px;
    }
    @media (min-width: ($m+px)) {
      display: none;
    }
    z-index: $zIndex-l;
  }
  // .header__phone

  &__phone {
    display: flex;
    flex-direction: column;
    @media (min-width: ($m+px)) and (max-width: ($l+px)) {
      display: none;
    }
    @media (max-width: ($m+px)) {
      margin-top: 100px;
    }
  }

  // .header__phone-number

  &__phone-number {
    font-style: normal;
    font-weight: 700;
    @include adaptive-value("font-size", 28, 24, $l);
    line-height: 110%;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-black;
    white-space: nowrap;
  }

  // .header__phone-footnote

  &__phone-footnote {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 110%;
    text-align: right;
    color: #3d4e81;
  }

  // .header__button

  &__button {
    @media (min-width: ($s+px)) {
      max-width: 280px;
    }
  }
}
