.header {
  // .header__wrapper
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // @include adaptive-value("min-height", 126, 56, $s);
  height: auto;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    @media (max-width: ($m+px)) {
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    }
  }

  // .header__burger
  &__burger {
    width: 25.5px;
    height: 17px;
    z-index: $zIndex-l;
    @media (min-width: ($m+px)) {
      display: none;
    }
  }
  // .header__logo-icon

  &__logo-icon {
    @include adaptive-value(" max-width", 214, 160, $l);
    width: 100%;
    flex-shrink: 0;
    z-index: $zIndex-l;
  }

  // .header__nav

  &__nav {
    display: flex;
    align-items: center;
    width: 100%;
    @include adaptive-value("margin-left", 104, 30, $l);
    @include adaptive-value("gap", 51, 15, $l);
    z-index: $zIndex-l - 1;

    @media (max-width: ($m+px)) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      flex-direction: column;
      margin-left: 0;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 154px;
      transition: $transitionNormal;
    }
    @media (max-width: ($s+px)) {
      padding-top: 104px;
    }
    @media (max-width: ($xxs+px)) {
      padding-left: 10px;
      padding-right: 10px;
    }
    &._active {
      transform: translateX(0);
    }
  }

  // .header__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    @include adaptive-value("gap", 25, 16, $m);
    margin-right: auto;
    @media (max-width: ($m+px)) {
      flex-direction: column;
      gap: 31px;
    }
  }

  // .header__item

  &__item {
  }

  // .header__link

  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 110%;
    text-transform: uppercase;
    color: #3d4e81;
    @media (min-width: ($m+px)) and (max-width: ($l+px)) {
      font-size: 12px;
    }
    @media (max-width: ($m+px)) {
      font-size: 16px;
    }
  }
  // header__phone-icon
  &__phone-icon {
    height: 100%;
    width: 34px;
    @media (min-width: ($s+px)) {
      width: 60px;
    }
    @media (min-width: ($m+px)) {
      display: none;
    }
    z-index: $zIndex-l;
  }
  // .header__phone

  &__phone {
    display: flex;
    flex-direction: column;
    gap: 5px;
    @media (min-width: ($m+px)) and (max-width: ($l+px)) {
      display: none;
    }
  }

  // .header__phone-number

  &__phone-number {
    font-style: normal;
    font-weight: 700;
    @include adaptive-value("font-size", 28, 24, $l);
    line-height: 110%;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-black;
    white-space: nowrap;
  }

  // .header__phone-footnote

  &__phone-footnote {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 110%;
    text-align: right;
    color: #3d4e81;
  }

  // .header__button

  &__button {
    max-width: 280px;
  }
}
.button {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  box-shadow: 0px 30px 14px -20px rgba(62, 77, 134, 0.2);
  border-radius: 54px;
  background-color: $color-main-blue;
  color: $color-white;
  @include adaptive-value("padding-left", 25, 15, $xxs);
  @include adaptive-value("padding-right", 25, 15, $xxs);
  padding-top: 25px;
  padding-bottom: 25px;
}
