<section class="glass-tile">
  <div class="glass-tile__container _container">
    <div class="glass-tile__card glass-tile-card glass-tile-card_size-l _glass-card _glass-card_b-14">
      <div class="glass-tile-card__points">
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point"></span>
        <span class="glass-tile-card__point"></span>
        <span class="glass-tile-card__point"></span>
        <span class="glass-tile-card__point"></span>
        <span class="glass-tile-card__point"></span>
      </div>
      <h2 class="glass-tile-card__title _txt-l">01. Заявка на консультацию</h2>
      <div class="glass-tile-card__combine-box">
        <p class="glass-tile-card__text _txt-s">Заполните простую форму и наш специалист свяжется с вами, чтобы
          ответить на все
          вопросы и определить время встречи</p>
        @@include('../../UI/button/button.html', {
        class: 'glass-tile-card__button',
        text: 'оставить заявку',
        type: 'button',
        attribute: 'data-popup-form-open="consult"'
        })
      </div>
    </div>
    <div class="glass-tile__card glass-tile-card _glass-card _glass-card_b-20">
      <div class="glass-tile-card__points">
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point"></span>
        <span class="glass-tile-card__point"></span>
        <span class="glass-tile-card__point"></span>
        <span class="glass-tile-card__point"></span>
      </div>
      <h2 class="glass-tile-card__title _txt-l">02. Очная консультация</h2>
      <p class="glass-tile-card__text _txt-s">На ней наш протезист проведёт все замеры и подберёт необходимые
        комплектующие</p>
    </div>
    <div class="glass-tile__card glass-tile-card _glass-card _glass-card_b-20">
      <div class="glass-tile-card__points">
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point"></span>
        <span class="glass-tile-card__point"></span>
        <span class="glass-tile-card__point"></span>
      </div>
      <h2 class="glass-tile-card__title _txt-l">03. Заключение договора и внесение 100%</h2>
      <p class="glass-tile-card__text _txt-s ">Комплектующие закупаются под проект, а не хранятся на складе, это
        позволяет не
        завышать цену на протез</p>
    </div>
    <div class="glass-tile__card glass-tile-card _glass-card _glass-card_b-20">
      <div class="glass-tile-card__points">
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point"></span>
        <span class="glass-tile-card__point"></span>
      </div>
      <h2 class="glass-tile-card__title _txt-l">04. Изготовление протеза</h2>
      <p class="glass-tile-card__text _txt-s">После поставки комплектующих на склад, мы изготовим протез в течение 4х
        дней</p>
    </div>
    <div class="glass-tile__card glass-tile-card _glass-card _glass-card_b-20">
      <div class="glass-tile-card__points">
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point"></span>
      </div>
      <h2 class="glass-tile-card__title _txt-l">05. Установка и помощь в освоении протеза</h2>
      <p class="glass-tile-card__text _txt-s">У нас работают квалифицированные специалисты, которые помогут вам
        освоиться</p>
    </div>
    <div class="glass-tile__card glass-tile-card glass-tile-card_size-l _glass-card _glass-card_b-20">
      <div class="glass-tile-card__points">
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point glass-tile-card__point_purple"></span>
        <span class="glass-tile-card__point glass-tile-card__point_orange"></span>
      </div>
      <h2 class="glass-tile-card__title _txt-l">06. Расширенная гарантия 2 года</h2>
      <p class="glass-tile-card__text _txt-s">В это время гарантия действует не только на полуфабрикаты, но и на
        обслуживание.
        Если у вас возникают какие то сложности
        с протезом, мы полностью берем вопрос на себя</p>
    </div>
    <img class="glass-tile__bg-icon glass-tile__bg-icon_purple" src="@img/background-body/Rectangle 80.png" alt="">
    <img class="glass-tile__bg-icon glass-tile__bg-icon_yellow" src="@img/background-body/Rectangle 83.png" alt="">
    <img class="glass-tile__bg-icon glass-tile__bg-icon_aqua" src="@img/background-body/Rectangle 81.png" alt="">
  </div>
</section>