*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
input,
textarea {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  font-size: inherit;
}
img,
video {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}
