// Переменные
$fontFamily: Comfortaa;
$mainFontSize: 16;
$xlFontSize: 18;
$xxlFontSize: 30;

$maxWidth: 1920;
$minWidth: 280;
$container-l: 1872;

//Z-Index
$zIndex-s: 10;
$zIndex-m: 100;
$zIndex-l: 500;
$zIndex-xl: 1000;

// Transition
$transitionLight: 0.3s;
$transitionNormal: 0.5s;
$transitionHight: 0.8s;

// Breakpoints
$xxl: 2048.5;
$xl: 1940.5;
$l: 1367.5;
$m: 1024.5;
$s: 780.5;
$xs: 520.5;
$xxs: 375.5;

// [COLORS]
$color-main-blue: #3d4e81;
$color-purple: #5005f2;
$color-aqua: #8fcbcc;
$color-lilac: #f6d6c8;
$color-ivory: #f3eef7;
$color-purple-light: #d2beeb;
$color-orange: #fbb307;
$color-warning: #f68c5d;
$color-yellow: #f8eccc;
$color-black: #3c3c3c;
$color-gray: #c4c4c4;
$color-gray-light: #f5f5f5;
$color-white: #ffffff;
// [BUTTONS]
$color-bth-hover: #5165b0;
// [TEXT]
$color-txt-main: #281040;
$color-txt-extra: #595959;

// [LINK]
$color-link-hover: #5165b0;
// [BURGER]
