<section class="about" data-scroll-to="community">
  <div class="about__container _container">
    <div class="about__descritpion">
      <h2 class="about__title _h1">Стань частью <span class="about__title-accent _txt-accent-blue">чего-то
          большего</span></h2>
      <h3 class="about__subtitle _txt-l">Освоиться в новом для себя мире, найти друзей или, наоборот, рассказать о своём
        опыте и помочь новичкам. Мы поможем
        сделать шаг в новую жизнь и поможем сменить систему восприятий. Реабилитация станет яркой, полной впечатлений и
        эмоций
        полосой вашей жизни.
      </h3>
      <p class="about__text _txt-m">Мы регулярно проводим мероприятия и классные ивенты , в которых может принять
        участие любой желающий! И это не скучные
        чаепития — это прыжки с парашютом, освоение адаптивного вейкборда, катание на сноуборде и еще много всего.</p>
    </div>
    <div class="about__interactive">
      <div class="about__social-box _glass-card ">
        <div class="about__socials">
          <a class="about__social-icon _icon-youtube" href="#" target="_blank" rel="noopener noreferrer"></a>
          <a class="about__social-icon _icon-telegram" href="#" target="_blank" rel="noopener noreferrer"></a>
          <a class="about__social-icon _icon-vk" href="#" target="_blank" rel="noopener noreferrer"></a>
        </div>
        <h3 class="about__social-text _txt-l">Следи за нами в соцсетях</h3>
      </div>
      <div class="about__image-box">
        <img class="about__image _icon-Hashtag-Marker" src="@img/about/background.png" alt="humans">
        <span class="about__image-icon _icon-Love-Marker"></span>
        <span class="about__image-icon _icon-Hashtag-Marker"></span>
      </div>
      <div class="about__slider-box">
        <div class="about__slider">
          <div class="swiper-wrapper">
            <div class="about__slide swiper-slide">
              <img class="about__slide-img" src="@img/about/slide_1.png" alt="slide">
              <span class="about__play _button-play_m _icon-play"></span>
            </div>
            <div class="about__slide swiper-slide">
              <img class="about__slide-img" src="@img/about/slide_2.png" alt="slide">
              <span class="about__play _button-play_m _icon-play"></span>
            </div>
            <div class="about__slide swiper-slide">
              <img class="about__slide-img" src="@img/about/slide_1.png" alt="slide">
              <span class="about__play _button-play_m _icon-play"></span>
            </div>
          </div>
        </div>
        <button class="about__slider-button _slider-button _slider-button_right _icon-arrow-right"></button>
      </div>
    </div>
    <img class="about__background-icon" src="@img/background-body/Rectangle 105.png" alt="">
  </div>
</section>