<section class="videos">
  <div class="videos__container _container">
    <div class="videos__grid">
      <h2 class="videos__title _h2">Истории успеха</h2>
      <div class="videos__card videos-card videos__card_l">
        <span class="videos-card__play _button-play_l-adaptive _icon-play" data-popup-media-open="image"
          data-url-image="@img/testы.jpg"></span>
        <img class="videos-card__poster" src="@img/videos/poster_1.jpg" alt="video-poster">
        <h3 class="videos-card__title _h4">Человек работающий геодезистом встал на ноги и вернулся через 2 месяца на
          работу, проходя по 16 км в день</h3>
      </div>
      <div class="videos__card videos-card videos__card_s">
        <span class="videos-card__play _icon-play _button-play" data-popup-media-open="video"
          data-url-video="./files/test-video.mp4"></span>
        <img class="videos-card__poster" src="@img/videos/poster_2.jpg" alt="video-poster">
        <h3 class="videos-card__title _h4">После изготовления протеза Тимуру, он встал на сноуборд и успешно начал его
          осваивать</h3>
      </div>
      <div class="videos__card videos-card">
        <img class="videos-card__poster" src="@img/videos/poster_3.jpg" alt="video-poster">
        <h3 class="videos-card__title _h4">Cтатья в СМИ</h3>
      </div>
      <div class="videos__card videos-card">
        <img class="videos-card__poster" src="@img/videos/poster_4.jpg" alt="video-poster">
        <h3 class="videos-card__title _h4">Ещё один пример реализованной работы с фото или видео</h3>
      </div>
      <div class="videos__card videos-card videos__card_m videos__card_text-right">
        <span class="videos-card__play _button-play _icon-play" data-popup-media-open="image"
          data-url-image="@img/test.jpg"></span>
        <img class="videos-card__poster" src="@img/videos/poster_5.jpg" alt="video-poster">
        <h3 class="videos-card__title _h4">Протез девочке которая активно ведет тик ток</h3>
      </div>
    </div>
    <div class="videos__slider">
      <div class="swiper-wrapper">
        <div class="videos__slider-item swiper-slide">
          <img class="videos__slider-image" src="@img/videos/poster_4.jpg" alt="history-slide">
          <span class="videos__slider-play _button-play_l _icon-play" data-popup-media-open="video"
            data-url-video="../files/test-vieo.mp4"></span>
        </div>
        <div class="videos__slider-item swiper-slide">
          <img class="videos__slider-image" src="@img/videos/poster_4.jpg" alt="history-slide">
          <span class="videos__slider-play _button-play_l _icon-play" data-popup-media-open="video"></span>
        </div>
        <div class="videos__slider-item swiper-slide">
          <img class="videos__slider-image" src="@img/videos/poster_4.jpg" alt="history-slide">
          <span class="videos__slider-play _button-play_l _icon-play" data-popup-media-open="video"></span>
        </div>
        <div class="videos__slider-item swiper-slide">
          <img class="videos__slider-image" src="@img/videos/poster_4.jpg" alt="history-slide">
          <span class="videos__slider-play _button-play_l _icon-play" data-popup-media-open="video"></span>
        </div>
        <div class="videos__slider-item swiper-slide">
          <img class="videos__slider-image" src="@img/videos/poster_4.jpg" alt="history-slide">
          <span class="videos__slider-play _button-play_l _icon-play" data-popup-media-open="video"></span>
        </div>
      </div>
      <div class="videos__slider-controls _slider-controls">
        <button class="videos__slider-btn-l _slider-button _slider-button_left _icon-arrow-left"></button>
        <button class="videos__slider-btn-r _slider-button _slider-button_right _icon-arrow-right"></button>
      </div>
    </div>
  </div>
</section>