<section class="tile" data-scroll-to="prostheses">
  <div class="tile__container _container">
    <div class="tile__card tile-card tile-card_large tile-card_purple" data-popup-open="card">
      <span class="tile-card__icon _icon-lower-leg-prosthesis"></span>
      <h2 class="tile-card__title _h4">Протез голени</h2>
      <p class="tile-card__text tile-card__text_long _txt-m">Предназначенны при протезировании на уровне голени любого
        уровня</p>
      <button class="tile-card__btn-more _txt-s">Подробнее</button>
    </div>

    <div class="tile__card tile-card tile-card_large tile-card_aqua" data-popup-open="card">
      <span class="tile-card__icon _icon-hip-prosthesis"></span>
      <h2 class="tile-card__title _h4">Протез бедра</h2>
      <p class="tile-card__text _txt-m">Предназначенны при ампутации на уровне бедра (выше колена)</p>
      <button class="tile-card__btn-more _txt-s">Подробнее</button>
    </div>

    <div class="tile__card tile-card tile-card_lilac" data-popup-open="card">
      <span class="tile-card__icon _icon-bionic-prosthesis"></span>
      <h2 class="tile-card__title _h4">Бионический протез</h2>
      <p class="tile-card__text _txt-m">Вы сами контролируете сжатие и разжатие электронной кисти</p>
      <button class="tile-card__btn-more _txt-s">Подробнее</button>
    </div>

    <div class="tile__card tile-card tile-card_ivory" data-popup-open="card">
      <span class="tile-card__icon _icon-cosmetic-prosthesis"></span>
      <h2 class="tile-card__title _h4">Косметический протез</h2>
      <p class="tile-card__text _txt-m">Максимально возможно приближены к анатомической конечности</p>
      <button class="tile-card__btn-more _txt-s">Подробнее</button>
    </div>
    <div class="tile__card tile-card tile-card_pastel" data-popup-open="card">
      <span class="tile-card__icon _icon-traction-prosthesis"></span>
      <h2 class="tile-card__title _h4">Тяговый протез</h2>
      <p class="tile-card__text _txt-m">Управляются с помощью специальной тяги, путём ее натяжения</p>
      <button class="tile-card__btn-more _txt-s">Подробнее</button>
    </div>
    <img class="tile__background-icon" src="@img/background-body/Rectangle 72.png" alt="">
  </div>
</section>