<section class="quote">
  <div class="quote__container _continaer">
    <div class="quote__box">

      <h2 class="quote__title _h1" id="@@paralax_id" data-selector=".icon">
        <svg class="quote__icon quote__icon_start icon-quote-start icon" data-depth="0.2">
          <use xlink:href="./icons/sprite/sprite.svg#quote-start"></use>
        </svg>

        @@text

        @@if(accent) {
        <span class="quote__title_accent"> @@accent</span>
        }

        <svg class="quote__icon quote__icon_end icon-quote-end icon" data-depth="0.2">
          <use xlink:href="./icons/sprite/sprite.svg#quote-end"></use>
        </svg>
      </h2>

    </div>
  </div>
</section>