<section class="popup-image _popup-wrapper" data-popup-media="image" data-popup-media-close="image">
  <div class="popup-image__container _popup-media-content ">
    <button class="popup-image__close _icon-close _popup-close" data-popup-media-close="image"></button>
    <div class="popup-image__image-box">
      <img class="popup-image__image" src=""></img>
    </div>
  </div>
  <div class="popup-image__loader _loader"></div>
  <h3 class="popup-image__error _h2">Не смогли загрузить изображение :(</h3>
</section>