<section class="team">
  <div class="team__container _container">
    <div class="team__header">
      <div class="team__image-box">
        <img class="team__main-image" src="@img/team/image_2.jpg" alt="director">
        <span class="team__icon-massage _icon-Talk-Bubble-Marker"></span>
        @@include('../../UI/icon/icon.html', {
        class: 'team__icon-wave',
        name: 'Ureg-Ureg-Marker',
        width: '',
        height: '',
        })
      </div>
      <div class="team__description">
        <p class="team__text _txt-l">Здравствуйте! Меня зовут Егоров Роман, я действующий протезист и основатель
          компании
          InStep.</p>
        <p class="team__text _txt-l">Уже более 10 лет мы помогаем людям, которым необходимы протезы, возвращаем им
          возможность
          полноценно заниматься спортом
          и хобби, вести активный образ жизни.</p>
        <div class="team__main-name">
          <p class="team__name _txt-l">Егоров Роман,</p>
          <p class="team__post _txt-s">руководитель и основатель компании</p>
        </div>
        <img class="team__icon-purple-blure" src="@img/background-body/Rectangle 59.png" alt="">
      </div>
    </div>
    <div class="team__footer">
      <div class="team__title-box">
        <h2 class="team__title _h2">Наша команда — наша семья</h2>
        <span class="team__title-icon _icon-Oval-Marker"></span>
        <img class="team__icon-purple-light-blure" src="@img/background-body/Rectangle 74.png" alt="">
      </div>
      <div class="team__list  _swiper-settings_full-on-mobile">
        <div class="swiper-wrapper">
          <div class="team__item swiper-slide">
            <img class="team__avatar" src="@img/team/image_1.jpg" alt="deputy director">
            <div class="team__item-footnote">
              <p class="team__name _txt-l">Кристиан Шумов</p>
              <p class="team__post _txt-s">зам.директора</p>
            </div>

          </div>
          <div class="team__item swiper-slide">
            <img class="team__avatar" src="@img/team/image_3.jpg" alt="prosthetist">
            <div class="team__item-footnote">
              <p class="team__name _txt-l">Пётр Лысков</p>
              <p class="team__post _txt-s">протезист</p>
            </div>

          </div>
          <div class="team__item swiper-slide">
            <img class="team__avatar" src="@img/team/image_4.jpg" alt="instructor">
            <div class="team__item-footnote">
              <p class="team__name _txt-l">Элеонора Егорова</p>
              <p class="team__post _txt-s">инструктор школы ходьбы</p>
            </div>

          </div>
          <div class="team__item swiper-slide">
            <img class="team__avatar" src="@img/team/image_5.jpg" alt="manager">
            <div class="team__item-footnote">
              <p class="team__name _txt-l">Юлия Важнова</p>
              <p class="team__post _txt-s">менеджер по работе с клиентами</p>
            </div>

          </div>
        </div>
        <div class="team__controls _slider-controls">
          <button class="team__btn-l _slider-button _slider-button_left _icon-arrow-left"></button>
          <button class="team__btn-r _slider-button _slider-button_right _icon-arrow-right"></button>
        </div>
      </div>
    </div>
  </div>
</section>