<section class="faq">
  <div class="faq__container _container">
    <h2 class="faq__title _h1">Частые вопросы</h2>
    <div class="faq__body accordion">

      <div class="faq__column">
        <div class="accordion__item ac">
          <div class="accordion__header ac-trigger">
            <h3 class="accordion__title _h4">Через какое время после ампутации можно начинать протезирование?</h3>
            <button class="accordion__button"></button>
          </div>
          <div class="accordion__body ac-panel">
            <p class="accordion__text _txt-m">В среднем через 1-1,5 месяца после операции наши клиенты делают первые
              шаги, при обращении к нам с больничной койки.</p>
          </div>
        </div>

        <div class="accordion__item ac">
          <div class="accordion__header ac-trigger">
            <h3 class="accordion__title _h4">Сколько стоит протезирование?</h3>
            <button class="accordion__button"></button>
          </div>
          <div class="accordion__body ac-panel">
            <p class="accordion__text _txt-m">От 300 000 ₽ за протез голени. От 450 000 ₽ за протез бедра. От 2 700 000
              ₽ за протез с микропроцессорным управлением верхней конечности.</p>
            <p class="accordion__text _txt-m"><b>В стоимость любого изготовленного протеза в нашей компании входит:</b>
            </p>
            <ul class="accordion__list">
              <li class="accordion__list-item _txt-s"><b>Юридическая помощь в получении 100% компенсации от
                  государства</b>
              </li>
              <li class="accordion__list-item _txt-s"><b>Рассрочка погашаемая за счет выплаты компенсации от
                  государства</b>
              </li>
              <li class="accordion__list-item _txt-s">Изготовление примерочного протеза для выявление и устранения всех
                негативных факторов мешающих с комфортом использовать
                протеза</li>
              <li class="accordion__list-item _txt-s">Гарантия 24 месяца (включая изготовление до 4 пластиковых гильз, 1
                карбоновой гильзы)</li>
              <li class="accordion__list-item _txt-s">Выбор дизайна протеза</li>
              <li class="accordion__list-item _txt-s">Фотосессия</li>
              <li class="accordion__list-item _txt-s">Решение любых вопросов связанных с протезом по звонку</li>
            </ul>
          </div>
        </div>

        <div class="accordion__item ac">
          <div class="accordion__header ac-trigger">
            <h3 class="accordion__title _h4">4 дня и 3 встречи?</h3>
            <button class="accordion__button"></button>
          </div>
          <div class="accordion__body ac-panel">
            <p class="accordion__text _txt-m">Для всех тех кто принимает решения быстро - 4 дня и 3 встречи.</p>
            <p class="accordion__text _txt-m">На первой встрече мы с вами познакомимся и определимся с вашей
              комплектацией протеза. Вы внесете 100 предоплату за счет
              собственных средств или воспользуетесь нашей беспроцентной рассрочкой. Далее мы заказываем комплектующие и
              ждем
              поступления на наш склад.</p>
            <p class="accordion__text _txt-m">В ваш второй приезд мы снимем слепок с конечности и начнется изготовление
              протеза которое займет еще 3 дня.</p>
            <p class="accordion__text _txt-m">На третьей встрече, через 3 дня после снятия слепка мы приступаем к
              примерке, подгонке и настройке протеза. Вы делаете
              свои первые движения с протезом.</p>
          </div>
        </div>
      </div>

      <div class="faq__column">
        <div class="accordion__item ac">
          <div class="accordion__header ac-trigger">
            <h3 class="accordion__title _h4">Я сначала покупаю протез, а потом вы помогаете вернуть компенсацию за
              покупку?</h3>
            <button class="accordion__button"></button>
          </div>
          <div class="accordion__body ac-panel">
            <p class="accordion__text _txt-m">Абсолютно верно. Мы заинтересованы в том что бы вы наполнились энергии при
              обращении к нам, а не были истощены, в том
              числе финансово. Наша задача что бы вы возвращались 1 раз в два года за обновкой, совмещая с отпуском в
              город
              Санкт-Петербург =)</p>
          </div>
        </div>

        <div class="accordion__item ac">
          <div class="accordion__header ac-trigger">
            <h3 class="accordion__title _h4">Как часто надо менять протез?</h3>
            <button class="accordion__button"></button>
          </div>
          <div class="accordion__body ac-panel">
            <p class="accordion__text _txt-m">Все индивидуально, примерно как с обувью. Первичное протезирование часто
              сопровождается 3-4 заменами гильзы в год,
              дальше происходит процесс стабилизации объемных параметров культи и замена культеприемной гильзы уже
              требуется реже.</p>
          </div>
        </div>

        <div class="accordion__item ac">
          <div class="accordion__header ac-trigger">
            <h3 class="accordion__title _h4">Зачем менять протез? Он ломается?</h3>
            <button class="accordion__button"></button>
          </div>
          <div class="accordion__body ac-panel">
            <p class="accordion__text _txt-m">Запас прочности при соблюдении рекомендаций достаточен. На консультации мы
              всегда выявляем активность клиента и если вы
              профессиональный спортсмен то используем иную технологию изготовления культеприемной гильзы, отличающуюся
              от технологии
              изготовления повседневных протезов, с увеличением прочностных характеристик всех комплектующих.</p>
            <p class="accordion__text _txt-m">Основной причиной замены культеприемной гильзы становится изменение
              объемных параметров культи, особенно при первичном
              протезировании.</p>
          </div>
        </div>
      </div>
    </div>
    @@include('../../UI/icon/icon.html', {
    class: 'faq__interactive-icon',
    name: 'Rectangle-109',
    width: '',
    height: '',
    })
  </div>
</section>