<section class="wave _container">
  @@include('../../UI/icon/icon.html', {
  class: 'wave__icon',
  name: 'wave',
  width: '',
  height: '',
  })
  <div class="wave__container">
    <h2 class="wave__title _h2">Если вы не из Петербурга</h2>
    <div class="wave__description">
      <p class="wave__text _txt-m">Мы понимаем, как непредсказуемо может быть планирование путешествия в ныненшнее
        время,
        поэтому готовы облегчить вам
        задачу.</p>
      <p class="wave__text _txt-m">При заключении договора на протезирование билет до Санкт-Петербурга, трансфер до
        отеля и
        проживание в комфортном отеле
        на весь период протезирования будет за наш счет!</p>
      @@include('../../UI/icon/icon.html', {
      class: 'wave__icon-star',
      name: 'Star-Marker',
      width: '',
      height: '',
      })
    </div>
  </div>
</section>